@use "../../styles/base/helpers" as *;

.header {
  padding-top: rem(18);
  padding-bottom: rem(18);
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  //height: rem(
  //	188
  //); // фиксированая высота, чтобы контент по навигацией не скроллился

  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: rem(100) rem(200);
  background: var(--color-white);

  @keyframes scrolling-header {
	to {
	  background-color: var(--color-bg);
	  border-color: var(--color-yellow);
	}
  }

  &__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }

  &__logo {
	display: flex;
	align-items: center;
	gap: rem(8);

	&-title {
	  font-size: rem(24);
	}
  }

  &__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: rem(4);

  }

  &__profile {
	display: flex;
	align-items: center;
	gap: rem(8);

	&-img {
	  width: rem(20);
	}
	&-name {
	  font-size: rem(16);
	  font-weight: 500;
	}
  }

}
