@use "../../styles/base/helpers" as *;

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: rem(200);

  &__spinner {
	width: rem(40);
	height: rem(40);
	border: rem(40) solid #f3f3f3;
	border-top: 3px solid #2196f3;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	margin-bottom: rem(16);
  }

  &__text {
	font-size: rem(14);
	color: var(--color-02);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}