@use "../../styles/base/helpers" as *;

.toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &__container {
	position: relative;
	background: white;
	padding: rem(40) rem(40);
	border-radius: rem(16);
	box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.15);
  }

  &__close {
	position: absolute;
	top: rem(4);
	right: rem(4);
	background: none;
	border: none;
	font-size: rem(20);
	cursor: pointer;
	padding: rem(18);

  }

  &__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: rem(20);
	text-align: center;
  }

  &__icon {
	width: rem(84);
	height: rem(84);
  }

  &__message {
	font-size: rem(20);
	font-weight: 500;
	color: var(--color-02);
  }
}