@use "helpers" as *;

:root {
	--color-white: #FDFDFD;
	--color-05: #F4F4F4;
	--color-04: #DADADA;
	--color-03: #9C9C9C;
	--color-02: #595959;
	--color-01: #161616;
	--color-accent: #22A0BC;
	--color-success-green: #C6F4C6;


	--color-bg: var(--color-05);

	--box-shadow: #{rem(15)} #{rem(15)} #{rem(15)} #{rem(-10)}
		var(--color-gray-300);

	--color-info: #5a87fc;
	--color-gray-300: #e5e8ed;
	--color-gray-400: #d7dadd;
	--color-gray-600: #9a9ca5;
	--color-gray-700: #787a80;
	--color-gray-800: #424551;
	--color-gray-900: #1e212c;

	--gradient: linear-gradient(
		45deg,
		var(--color-dark-15) 64%,
		var(--color-accent) 136%
	);

	// переменная ширины border
	--border: #{rem(1)} solid var(--color-04);
	--border-input: #{rem(1)} solid var(--color-gray-600);

	--font-family-base: "Manrope", sans-serif;
	--font-family-logo: "Inter", sans-serif;

	--container-width: #{rem(1126)};
	// внутренние границы(можно посмотреть по mobile макету)
	--container-padding-x: #{rem(15)};

	--transition-duration: 0.2s;

	--100vw: calc(100vw - var(--scrollbar-width));

	@include laptop {
		--container-width: #{rem(1126)};
	}
}

